
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Menyülər</h3>
        <a href="/Admin/Index/" class="w3-bar-item w3-button">Bloglar</a>
        <a href="/Admin/YorumYap/" class="w3-bar-item w3-button">Yorumlar</a>
        <a href="/Admin/Iletisim/" class="w3-bar-item w3-button">Əlaqə</a>
        <a href="/Admin/Hakkimizda/" class="w3-bar-item w3-button">Haqqimizda</a>
        <a href="/Default/Index/" class="w3-bar-item w3-button">Web-Site</a>
        <a href="/GirisYap/Logout/" class="w3-bar-item w3-button">Çikiş Yap</a>

    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h4>Admin İdarə Paneli</h4>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
