@using TravelTripProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başliq</th>
        <th>Sil</th>
        <th>Güncəllə</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.Id</th>
            <th>@x.Baslik</th>
            <th><a href="/Admin/BlogSil/@x.Id" class="btn btn-danger">Sil</a></th>
            <th><a href="/Admin/BlogGetir/@x.Id" class="btn btn-warning">Güncəllə</a></th>
            <th><a href="/Blog/BlogDetay/@x.Id" class="btn btn-default">Detaylar</a></th>
        </tr>
    }
</table>
<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog</a>

