
@using TravelTripProje.Models.Siniflar
@model List<Blog>
@foreach (var x in Model)
{


<div class="right">
        <div class="bot-left">
            <img src="@x.BlogImage" style="height:150px; width:770px;" alt="" />
        </div>
        <div class="left-text"style="margin-bottom: 125px;">

            <h4>@x.Baslik</h4>
            <span class="doller">@x.Tarih.ToString("dd.MM.yyyy")</span>
            <p>@x.Aciklama.Substring(0, 80)</p>
            <p><a href="/Blog/BlogDetay/@x.Id"><span class="read">Devamin Oku >></span></a></p>
        </div>
    </div>
}