<div class="content-form">
    <h3>Bir Yorum yapin</h3>
    <form method="post">
        <input type="hidden" placeholder="Id" name="Blogid" value="@ViewBag.deger" required />
        <input type="text" placeholder="Kullainici Adi" name="KullaniciAdi" required />
        <input type="text" placeholder="Email" name="Mail" required />
        <textarea placeholder="Yorum" name="Yorum"></textarea>
        <input type="submit" value="Gonder " />
    </form>
</div>